In [2]:
import numpy as np
import pandas as pd

In [18]:
# create random data
# np.random.randn(5, 5)
var1 = np.random.randn(100) * 5 + 20
var2 = np.random.randn(100) > 0

# variable labels
labels = [ 'Temp (C)', 'Ice cream' ]

# put them togehter into a dictionary
D = { labels[0]: var1, labels[1]: var2 }

# import the dictionary into a pandas dataframe
df = pd.DataFrame(data=D)
print(df)
df.head()
df.count()
df.mean()

     Temp (C)  Ice cream
0   21.375157       True
1   26.991564      False
2   23.273890      False
3   20.962071       True
4   27.607278      False
..        ...        ...
95  20.090071       True
96  15.901166      False
97  17.352333       True
98  15.730841      False
99  20.511418       True

[100 rows x 2 columns]

Temp (C)     19.54953
Ice cream     0.58000
dtype: float64

In [30]:
# Exercise
# create a pandas dataframe with:
#   integers going from 0 to 10, their square and their log

numbers_1_to_10 = np.array(range(0,11))
E = {'number': numbers_1_to_10, 'squares': numbers_1_to_10 ** 2, 'logs': np.log(numbers_1_to_10)}
numberFrame = pd.DataFrame(E)
numberFrame.head(11)

# Warning: interpreter thinks you might have possibly something wrong

C:\Users\budde01\AppData\Local\Temp\ipykernel_10568\3804800244.py:6: RuntimeWarning: divide by zero encountered in log
  E = {'number': numbers_1_to_10, 'squares': numbers_1_to_10 ** 2, 'logs': np.log(numbers_1_to_10)}

    number  squares      logs
0        0        0      -inf
1        1        1  0.000000
2        2        4  0.693147
3        3        9  1.098612
4        4       16  1.386294
5        5       25  1.609438
6        6       36  1.791759
7        7       49  1.945910
8        8       64  2.079442
9        9       81  2.197225
10      10      100  2.302585